{
  "bracketSpacing": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*/*.js", "*/*.tsx", "*/*.html"],
      "options": {
        "trailingComma": "all"
      }
    },
    {
      "files": "*/*.css",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
