* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 60px;
  position: static;
}

.container {
  background-color: grey;
  position: relative;
  left: 50px;
  height: 200px;
  overflow-y: scroll;
}

.absolute {
  background-color: lightgreen;
  position: absolute;
  top: 0px;
  right: 0px;
}

.sticky {
  background-color: red;
  position: sticky;
  top: 10px;
}

.child {
  background-color: black;
}

.fixed {
  background-color: pink;
  position: fixed;
  bottom: 0;
}